@tailwind base;
@tailwind components;
@tailwind utilities;

.sectionSize {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}
.secondaryTitle {
    background-position: left bottom;
    background-repeat: no-repeat;
    font-family: PT Serif, serif;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
}
.secondaryColumn {
    align-items: center;
}
.secondarySpacing {
    margin-top: 3%;
}